<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>negocios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #f4f4f4">

    <ion-searchbar  *ngIf="hayRegistrosParaMostrar" (ionInput)="buscar($event)">      
    </ion-searchbar>
  
    
  
    <ion-grid *ngIf="!hayRegistrosParaMostrar" style="height: 90%; background-color: #f4f4f4">
        <ion-row justify-content-center align-items-center style="height: 90%">
            <ion-col col-12 style="color: gray">
                <ion-card>
  
                    <ion-card-header>
                        Lo sentimos!
                    </ion-card-header>
                  
                    <ion-card-content>
                        Al parecer no se han encontrado registros
                    </ion-card-content>
                  
                  </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
  
  
      
    <ion-list>
  
      <ion-list *ngIf="hayRegistrosParaMostrar" style="margin: -1px 0 10px;">
        <ion-item>
          <ion-label>Ciudad</ion-label>
          <ion-select [(ngModel)]="ciudadSelected" (ionChange)="buscar($event)">
            <ion-select-option  value="">--Seleccionar--</ion-select-option>
            <ion-select-option *ngFor="let ciudad of ciudades" value="{{ciudad.Nombre}}">{{ciudad.Nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
  
  
    <ion-item-sliding #item *ngFor="let negocio of entidadesList">
      
      <ion-item (click)="ver_negocio(negocio.Nombre)">
            <ion-label >
                <ion-text >
                    <h2>{{negocio.Nombre}}</h2>
                </ion-text>
                <ion-text >
                    <p>{{negocio.Descripcion}}</p>
                </ion-text>
              </ion-label>
            <ion-icon name="arrow-forward" slot="end" ></ion-icon>
      </ion-item> 
  
      <ion-item-options side="start">
          <button ion-button (click)="add_Favorite(negocio.Nombre)">
            <ion-icon name="star">
            </ion-icon>
              Favorito
          </button>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>
  
  
  </ion-content>
  