<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>LocationX</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list>
              <ion-item>
                <ion-icon name="contact" item-start></ion-icon>
                  Usuario
              </ion-item>
                    <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                {{obtener_email()}}
              </ion-item>
            </ion-list>
      </ion-content>

      <ion-footer>
          <ion-toolbar>
              <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'">
                  <ion-button  ion-button menuToggle slot="start"  color="danger" (click)="logOut()" >Cerrar Sesion</ion-button>

                </ion-item>
              </ion-menu-toggle>
          </ion-toolbar>
        </ion-footer>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
