
<ion-header>
  <h3 class="LocationxTitle" text-center>
    LocationX
  </h3>
</ion-header>

<ion-content no-padding >
    
  <ion-slides pager="true">
      
    <ion-slide  >
      <h2  class="sliderTitle" >Encuentra lo que buscas y mas...</h2>
      <br>
      <ion-icon style="font-size: 60px; color: #E8BB18;" name="search"></ion-icon>
      <br>
      <p class="sliderDescription" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, incidunt? Beatae mollitia libero, saepe deleniti ipsum animi veritatis commodi laudantium aliquid nisi harum facilis explicabo, recusandae amet, architecto quibusdam sequi?</p>
    </ion-slide>
    <ion-slide>
      <h2 class="sliderTitle" > Explora</h2>
      <ion-icon style="font-size: 60px; color: #E8BB18;" name="star"></ion-icon>
      <p class="sliderDescription"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, incidunt? Beatae mollitia libero, saepe deleniti ipsum animi veritatis commodi laudantium aliquid nisi harum facilis explicabo, recusandae amet, architecto quibusdam sequi?</p>
    </ion-slide>
    <ion-slide>
      <h2 class="sliderTitle" >Navega</h2>
      <ion-icon style="font-size: 60px; color: #E8BB18;" name="navigate"></ion-icon>
      <p class="sliderDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, incidunt? Beatae mollitia libero, saepe deleniti ipsum animi veritatis commodi laudantium aliquid nisi harum facilis explicabo, recusandae amet, architecto quibusdam sequi?</p>
    </ion-slide>
  </ion-slides>
  


</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button slot="start" color="light" (click)="pagina_login(false)">
        Inicia Sesion
    </ion-button>
      <!-- <button ion-button (click)="pagina_login(false)" >
        Inicia Sesion
      </button> -->
    

    <ion-button slot="end" color="light" ion-button (click)="pagina_login(true)" >
        Registrate
    </ion-button>
        <!-- <button ion-button (click)="pagina_login(true)" >
          
        </button> -->

  </ion-toolbar>
</ion-footer>
