page-welcome {
    
    ion-content {
        // background-image: url("../../assets/imgs/fondos/background2.jpg")
        background-color: #f4f4f4;
    }
    
}

.sliderTitle{
    color: black;
    font: inherit;
    font-weight: 700;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.sliderDescription{
    color: #999;
}
.LocationxTitle{
    font-weight: 1000;
    color: gray;
    padding-top: 20px; 
    margin-top: 20px;
}


ion-slide {
    height: 80vh;
    flex-direction: column;
}

ion-img {
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}


